*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}
.header{
	background-color: #FAFAFB;
	height: 100vh;
}
header >.container{
	width: 1140px;
	margin: 0 auto;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.food{
	padding-top: 150px;
	width: 1000px;
    padding-left: 50px;
}
.main{
	position: relative;
	display: flex;
	align-items: center;
}
.background{
	position: absolute;
	top: 0;
	left: 650px;
	width: 450px; 
}
.nav{
	padding-top: 35px;
	padding-right: 80px;
	background-color: #FAFAFB;
	width: 1000px;
	display: flex;
    margin: 0 auto;
}
.nav-img{
	height: 25px;
	margin-left: -20px;
}
.nav-item{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.nav-list{
	font-family: "Josefin Sans";
	font-size: 15px;
	display: flex;
	justify-content: center;
}
.nav-link{
	margin-left: 50px;
	color: rgba(0 ,0 ,0 ,0.5);
}
.nav-link:focus{
	color: #000;
}
.nav-button{
	border: none;
	outline: none;
	background-color: #FAFAFB;
	margin-left: auto;

}
.header-subtext{
	font-family: "Varela Round";
	padding-bottom: 15px;
}
.header-title{
	font-family: "Josefin Sans";
	font-weight: bold;
	width: 100%;
	font-size: 50px;
	padding-bottom: 20px;
}
.subtext{
	font-family: "Varela Round";
	width: 510px;
	padding-bottom: 50px;
	line-height: 2;
	color: rgba(0 ,0 ,0 ,0.5);
}
.order{
	background-color: #FAFAFB;
	border:none;
	outline: none;
	margin-left: auto;
	width: 1000px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.order-link-story{
	display: flex;
	align-items: center;
}
.order-link{
	width: 200px;
	text-align: center;
	font-family: "Varela Round";
	color: #fff;
	background-color: #00D042;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
.order-img{
	background-color: #fff;
	box-shadow: 0 0 30px 1px lightgrey;
	width: 35px;
	height: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 80px;
	border-radius: 50%;
}
.order-subtext{
	font-family: "Varela Round";
	color: #000;
	padding-left: 20px;

}

.specialties{
	margin-top: 150px;
	width: 100vw;
	padding-bottom: 50px;
}
.specialties-title{
	font-family: "Josefin Sans";
	font-size: 50px;
	text-align: center;
}
.specialties-subtext{
	font-family: "Varela Round";
	text-align: center;
	padding-top: 5px;
	padding-bottom: 80px;
	color: #9a9a9a;
}
.image{
	width: 50%;
}
.image-img{
	width: 400px;
	margin-left: 40px;
}
.info{
	width: 50%;
	padding-top: 80px;
	margin-right: 100px;
}
.info-title{
	font-family: "Josefin Sans";
	font-size: 30px;
	width: 400px;
	line-height: 35px;
	padding-bottom: 20px;
}
.info-subtext{
	font-family: "Varela Round";
	width: 500px;
	color: #9a9a9a;
	line-height: 1.7;
}
.flex{
	display: flex;
}
.dishes{
	margin: 50px 0;
	display: flex;
	
}
.dishes-img{
	width: 50%;
}
.side{
	width: 50%;
}
.dishes-title{
	margin-left: 40px;
	padding-top: 80px;
	font-family: "Josefin Sans";
	font-size: 30px;
	width: 400px;
	line-height: 35px;
	padding-bottom: 20px;
}
.dishes-subtext{
	margin-left: 40px;
	font-family: "Varela Round";
	width: 500px;
	color: #9a9a9a;
	line-height: 1.7;
}
.dishes-img-image{
	width: 400px;
}
.infos-title{
	font-family: "Josefin Sans";
	font-size: 30px;
	width: 500px;
	line-height: 35px;
	padding-bottom: 20px;
}
.user >.container{
	width: 1140px;
	margin: 0 auto;
}
.user-title{
	text-align: center;
	font-family: "Josefin Sans";
	font-size: 50px;
	padding-bottom: 5px;
}
.user-subtext{
	text-align: center;
	font-family: "Varela Round";
	color: #9a9a9a;
	padding-bottom: 80px;
}
.happy{
	display: flex;
	justify-content: center;
}
.icon-img{
	width: 52px;
    height: 41px;
}
.icon-subtext{
	width: 450px;
	line-height: 1.5;
	color: #9a9a9a;
	font-family: "Varela Round";
	padding-bottom: 30px;
}
.happy-subtext{
	font-family: "Josefin Sans";
	font-weight: bold;
}
.happy-icon-subtext{
	font-family: "Varela Round";
	color: #9a9a9a;
	padding-top: 5px;
}
.happy-img{
	width: 80%;
}
.dot{
	display: flex;
	align-items: center;
	margin-top: 20px;

}
span{
	width: 5px;
	height: 5px;
	background-color: #9a9a9a;
	margin: 5px;
	border-radius: 50%;
}
span:hover{
	background-color: #34bf49;
	width: 10px;
	height: 10px;
}
.update > .container{
	display: flex;
	width: 1140px;
	margin-left: auto;
	padding-left: 50px;
}
.update{
	height: 100vh;
}
.get{
	width: 50%;
}
.update-subtext{
	color: #464952;
	padding-top: 150px;
	font-family: "Josefin Sans";
	font-size: 45px;
	font-weight: bold;
	padding-bottom: 10px;

}
.get-subtext{
	font-family: "Varela Round";
	width: 500px;
	color: #9a9a9a;
	line-height: 1.8;
	padding-bottom: 30px;
}
.update-input{
	font-family: "Varela Round";
	position: relative;
	box-shadow: 5px 5px 20px 5px lightgrey;
	border: none;
	padding: 12px;
	width: 420px;
}
.update-button{
	font-family: "Varela Round";
	color: #fff;
	position: absolute;
	width: 85px;
	left: 455px;
	bottom: -2399px;
	outline: none;
	padding: 12px;
	text-transform: uppercase;
	background-color: #34bf49;
	border: none;
}
.update-img{
	margin-top: 70px;
	margin-left: 200px;
	width: 50%;
}
.app-item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.app-list{
	margin-bottom: 50px;
}
.app-link{
	font-family: "Josefin Sans";
	color: #9a9a9a;
	padding: 40px;
}
.app-link:focus{
	color: #34bf49;
}
.app-subtext{
	font-family: "Josefin Sans";
	font-size: 40px;
	font-weight: bold;
	color: #545760;
	text-align: center;
	padding-top: 80px;
}
.fruits{
	background-image: 
	  linear-gradient( hsla(0, 0%, 100%, 0.8),50%,rgba(255, 255, 255, 0.8)),
	  url("../img/img (2).png");
	width: 100vw;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
}
.links{
	width: 1000px;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.links-subtext{
	margin-right: auto;
	font-family: "Josefin Sans";
	color: #9a9a9a;
}
.links-img{
	margin: 0 25px;
	width: 30px;
}